<md-card>
  <md-card-title>Simple table</md-card-title>
  <ng-table #ngTableSimple [dataSource]="sourceSimple">
    <ng-table-header-row>
      <ng-table-cell>Firstname</ng-table-cell>
      <ng-table-cell>Lastname</ng-table-cell>
      <ng-table-cell>Email</ng-table-cell>
    </ng-table-header-row>
    <ng-table-row *ngFor="let row of ngTableSimple.rows">
      <ng-table-cell>{{row.firstname}}</ng-table-cell>
      <ng-table-cell>{{row.lastname}}</ng-table-cell>
      <ng-table-cell>{{row.email}}</ng-table-cell>
    </ng-table-row>
    <ng-table-row *ngIf="ngTableSimple.empty" class="text-center">
      <ng-table-cell>No records</ng-table-cell>
    </ng-table-row>
  </ng-table>
</md-card>
<br />
<md-card>
  <md-card-title>Table with pagination</md-card-title>
  <ng-table #ngTablePagination [dataSource]="sourcePagination" range="4" [rangeOptions]="[2, 4, 6, 10, 20]">
    <ng-table-header-row>
      <ng-table-cell>Firstname</ng-table-cell>
      <ng-table-cell>Lastname</ng-table-cell>
      <ng-table-cell>Email</ng-table-cell>
    </ng-table-header-row>
    <ng-table-row *ngFor="let row of ngTablePagination.rows">
      <ng-table-cell>{{row.firstname}}</ng-table-cell>
      <ng-table-cell>{{row.lastname}}</ng-table-cell>
      <ng-table-cell>{{row.email}}</ng-table-cell>
    </ng-table-row>
    <ng-table-row *ngIf="ngTablePagination.empty" class="text-center">
      <ng-table-cell>No records</ng-table-cell>
    </ng-table-row>
  </ng-table>
  <ng-table-paginator [ngTable]="ngTablePagination"></ng-table-paginator>

  <button md-raised-button type="button" (click)="ngTablePagination.prev()">Previous page</button>
  <button md-raised-button type="button" (click)="goToPage(2)">Page #2</button>
  <button md-raised-button type="button" (click)="ngTablePagination.next()">Next page</button>
</md-card>
<br />
<md-card>
  <md-card-title>Table with search filter</md-card-title>
  <div fxLayout="row" fxLayoutAlign="start center">
    <md-input-container fxFlex>
      <input mdInput name="filter" placeholder="Search" #filter [(ngModel)]="this.filterParams.query" />
    </md-input-container>
    <button md-icon-button (click)="resetFilter()" mdTooltip="Clear" mdTooltipPosition="before" [disabled]="!filterParams.query!=''"><md-icon class="material-icons">close</md-icon></button>
  </div>
  <ng-table #ngTableFilter [dataSource]="sourceFilter" range="4" [rangeOptions]="[2, 4, 6, 10, 20]">
    <ng-table-header-row>
      <ng-table-cell>Firstname</ng-table-cell>
      <ng-table-cell>Lastname</ng-table-cell>
      <ng-table-cell>Email</ng-table-cell>
    </ng-table-header-row>
    <ng-table-row *ngFor="let row of ngTableFilter.rows">
      <ng-table-cell>{{row.firstname}}</ng-table-cell>
      <ng-table-cell>{{row.lastname}}</ng-table-cell>
      <ng-table-cell>{{row.email}}</ng-table-cell>
    </ng-table-row>
    <ng-table-row *ngIf="ngTableFilter.empty && sourceFilter.params.query==''" class="text-center">
      <ng-table-cell>No records</ng-table-cell>
    </ng-table-row>
    <ng-table-row *ngIf="ngTableFilter.empty && sourceFilter.params.query!=''" class="text-center">
      <ng-table-cell>No matching records</ng-table-cell>
    </ng-table-row>
  </ng-table>
  <ng-table-paginator [ngTable]="ngTableFilter"></ng-table-paginator>
</md-card>
