<md-card>
  <md-card-title>Simple table</md-card-title>
  <ng-table #ngTableSimple [dataSource]="sourceSimple">
    <ng-table-header-row>
      <ng-table-header-cell>Firstname</ng-table-header-cell>
      <ng-table-header-cell>Lastname</ng-table-header-cell>
      <ng-table-header-cell>Email</ng-table-header-cell>
    </ng-table-header-row>
    <ng-table-row *ngFor="let row of ngTableSimple.rows">
      <ng-table-cell>{{row.firstname}}</ng-table-cell>
      <ng-table-cell>{{row.lastname}}</ng-table-cell>
      <ng-table-cell>{{row.email}}</ng-table-cell>
    </ng-table-row>
    <ng-table-row *ngIf="ngTableSimple.empty" class="text-center">
      <ng-table-cell>No records</ng-table-cell>
    </ng-table-row>
  </ng-table>
</md-card>
<br />
<md-card>
  <md-card-title>Table with pagination</md-card-title>
  <ng-table #ngTablePagination [dataSource]="sourcePagination" range="4" [rangeOptions]="[2, 4, 6, 10, 20]" [moreRange]="2">
    <ng-table-header-row>
      <ng-table-header-cell>Firstname</ng-table-header-cell>
      <ng-table-header-cell>Lastname</ng-table-header-cell>
      <ng-table-header-cell>Email</ng-table-header-cell>
    </ng-table-header-row>
    <ng-table-row *ngFor="let row of ngTablePagination.rows">
      <ng-table-cell>{{row.firstname}}</ng-table-cell>
      <ng-table-cell>{{row.lastname}}</ng-table-cell>
      <ng-table-cell>{{row.email}}</ng-table-cell>
    </ng-table-row>
    <ng-table-row *ngIf="ngTablePagination.empty" class="text-center">
      <ng-table-cell>No records</ng-table-cell>
    </ng-table-row>
  </ng-table>
  <ng-table-paginator fxHide.xs fxHide.sm [ngTable]="ngTablePagination"></ng-table-paginator>
  <ng-table-more fxHide.md fxHide.lg [ngTable]="ngTablePagination"></ng-table-more>

  <button md-raised-button type="button" (click)="ngTablePagination.prev()" [disabled]="!ngTablePagination.hasPrev">Previous page</button>
  <button md-raised-button type="button" (click)="goToPage(2)" [disabled]="ngTablePagination.page==2">Page #2</button>
  <button md-raised-button type="button" (click)="ngTablePagination.next()" [disabled]="!ngTablePagination.hasNext">Next page</button>
</md-card>
<br />
<md-card>
  <md-card-title>Table with search filter (also condensed rows)</md-card-title>
  <div fxLayout="row" fxLayoutAlign="start center">
    <md-input-container fxFlex>
      <input mdInput name="filter" placeholder="Search" #filter [(ngModel)]="filterParams.query" />
    </md-input-container>
    <button md-icon-button (click)="resetFilter()" mdTooltip="Clear" mdTooltipPosition="before" [disabled]="!filterParams.query!=''"><md-icon class="material-icons">close</md-icon></button>
  </div>
  <ng-table class="ng-table-condensed" #ngTableFilter [dataSource]="sourceFilter" range="4" [rangeOptions]="[2, 4, 6, 10, 20]" [moreRange]="2">
    <ng-table-header-row>
      <ng-table-header-cell>Firstname</ng-table-header-cell>
      <ng-table-header-cell>Lastname</ng-table-header-cell>
      <ng-table-header-cell>Email</ng-table-header-cell>
    </ng-table-header-row>
    <ng-table-row *ngFor="let row of ngTableFilter.rows">
      <ng-table-cell>{{row.firstname}}</ng-table-cell>
      <ng-table-cell>{{row.lastname}}</ng-table-cell>
      <ng-table-cell>{{row.email}}</ng-table-cell>
    </ng-table-row>
    <ng-table-row *ngIf="ngTableFilter.empty && sourceFilter.params.query==''" class="text-center">
      <ng-table-cell>No records</ng-table-cell>
    </ng-table-row>
    <ng-table-row *ngIf="ngTableFilter.empty && sourceFilter.params.query!=''" class="text-center">
      <ng-table-cell>No matching records</ng-table-cell>
    </ng-table-row>
  </ng-table>
  <ng-table-paginator fxHide.xs fxHide.sm [ngTable]="ngTableFilter"></ng-table-paginator>
  <ng-table-more fxHide.md fxHide.lg [ngTable]="ngTableFilter"></ng-table-more>
</md-card>
<br />
<md-card>
  <md-card-title>Table with sorting</md-card-title>
  <ng-table class="ng-table-sortable" #ngTableSort [dataSource]="sourceSort" range="5" [moreRange]="2">
    <ng-table-header-row>
      <ng-table-header-cell (click)="setSort('firstname')">
        <span>Firstname</span>
        <md-icon class="material-icons" *ngIf="checkSort('firstname', 'asc')">arrow_downward</md-icon>
        <md-icon class="material-icons" *ngIf="checkSort('firstname', 'desc')">arrow_upward</md-icon>
      </ng-table-header-cell>
      <ng-table-header-cell (click)="setSort('lastname')">
        <span>Lastname</span>
        <md-icon class="material-icons" *ngIf="checkSort('lastname', 'asc')">arrow_downward</md-icon>
        <md-icon class="material-icons" *ngIf="checkSort('lastname', 'desc')">arrow_upward</md-icon>
      </ng-table-header-cell>
      <ng-table-header-cell (click)="setSort('email')">
        <span>Email</span>
        <md-icon class="material-icons" *ngIf="checkSort('email', 'asc')">arrow_downward</md-icon>
        <md-icon class="material-icons" *ngIf="checkSort('email', 'desc')">arrow_upward</md-icon>
      </ng-table-header-cell>
    </ng-table-header-row>
    <ng-table-row *ngFor="let row of ngTableSort.rows">
      <ng-table-cell>{{row.firstname}}</ng-table-cell>
      <ng-table-cell>{{row.lastname}}</ng-table-cell>
      <ng-table-cell>{{row.email}}</ng-table-cell>
    </ng-table-row>
    <ng-table-row *ngIf="ngTableSort.empty" class="text-center">
      <ng-table-cell>No records</ng-table-cell>
    </ng-table-row>
  </ng-table>
  <ng-table-paginator fxHide.xs fxHide.sm [ngTable]="ngTableSort"></ng-table-paginator>
  <ng-table-more fxHide.md fxHide.lg [ngTable]="ngTableSort"></ng-table-more>

  <button md-raised-button type="button" (click)="setSort('')" [disabled]="sourceSort.params.sort==''">Remove sorting</button>
</md-card>
