
:host(.ng-table-paginator) /deep/ {
  font-family: Roboto,Helvetica Neue,sans-serif;
  font-size: 12px;
  background: #fff;
  color: rgba(0,0,0,.54);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 56px;
  padding: 0 8px;

  .ng-table-paginator-page-size {
    display: flex;
    align-items: center;

    .ng-table-paginator-page-size-label {
      margin: 0 8px 0 0;
    }

    .ng-table-paginator-page-size-select {

      .mat-select-trigger {
        min-width: 60px;
        font-size: 12px;
      }
    }
  }

  .ng-table-paginator-page-label {
    margin: 0 32px;
  }
}
