<div class="ng-table-paginator-page-size" *ngIf="rangeVisible && !table.empty">
  <div class="ng-table-paginator-page-size-label">
    Items per page
  </div>
  <md-select class="ng-table-paginator-page-size-select" [(ngModel)]="table.range" (change)="actionRange($event)" [disabled]="table.loading">
    <md-option *ngFor="let count of table.rangeOptions" [value]="count">
      {{count}}
    </md-option>
  </md-select>
</div>
<div class="ng-table-paginator-page-label" *ngIf="!table.empty">
  Page {{table.page}} of {{table.totalPages}} |
  Items <span *ngIf="table.rows.length > 1">{{table.from}} - {{table.to}}</span>
  <span *ngIf="table.rows.length == 1">{{table.from}}</span>
  of {{table.totalRows}}
</div>
<button md-icon-button *ngIf="!table.empty" (click)="table.prev()" [disabled]="!table.hasPrev || table.loading" mdTooltip="Previous page"><md-icon class="material-icons">keyboard_arrow_left</md-icon></button>
<button md-icon-button *ngIf="!table.empty" (click)="table.next()" [disabled]="!table.hasNext || table.loading" mdTooltip="Next page"><md-icon class="material-icons">keyboard_arrow_right</md-icon></button>
